* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #dff6ff, #f8ffae);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 10px;
}

.box {
    width: 100%;
    max-width: 550px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.box h1 {
    text-align: center;
    margin-bottom: 20px;
}

.msg-outbox {
    margin-bottom: 20px;
}

.msg-outbox textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 14px;
}

.msg-btn {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

button {
    padding: 7px 12px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    opacity: 0.85;
    transform: translateY(-1px);
}

#clear,
#clear-done {
    background-color: #e74c3c;
    margin-bottom: 10px;
}

.list-outbox,
.done-outbox {
    margin-top: 15px;
}

.list-outbox h3,
.done-outbox h3 {
    margin-bottom: 10px;
}

.msg-list,
.done-list {
    list-style: none;
    padding-right: 5px;
}

.msg-list li,
.done-list li {
    background: #f7f7f7;
    padding: 8px 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msg-list li span,
.done-list li span{
    display: flex;
    justify-content: flex-end;
    padding: 2px;
}

.msg-list li span button,
.done-list li span button{
    padding: 5px;
    margin: 0 5px;
}

.msg-list li p,
.done-list li p {
    margin: 0;
    word-break: break-word;
}
